@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
  background:#7551eb5d;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	background-color: #7451eb;
	text-align: center;
	color: white;
}
header img {
	height: 60px;
	margin-left: 1rem;
}
header h1 {
	flex-grow: 1;
}

main {
	display: flex;
	flex-direction: row;
}

.filtres {
	border-radius: 10px;
  background: white;
	border-radius: 4px;
	box-shadow: 0px 0px 4px lightgray;
	margin: auto;
  margin-right: 10px;
	padding: 8px;
	min-width: 300px;
	min-height: 400px;
  gap: 10px;
}

.filtres button{
  margin: 5px;
  bottom: 5px;
  right: 5px;
  padding: 2px 5px;
  background-color: rgba(145, 66, 201, 0.524);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .btn-maj-pieces{
  text-align: center;
} */

.filtres h3 {
	text-align: center;
}

.filtres li {
  list-style: none;
  padding: 2px;
}

.filtres li:hover{
  color:#7451eb;
}

.fiches {
	flex: 1;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.fiches article {

  position: relative;
  background: white;
  border-radius: 0px 10px 0px 10px;
  box-shadow: 0px 0px 2px lightgray;
	/* border: 1px solid black; */
	padding: 4px;
}

.fiches article button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px 5px;
  background-color: rgba(145, 66, 201, 0.524);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

	/* border: 1px solid lightgray; */
  box-shadow: 0px 0px 4px lightgray;
	padding: 4px;
}


.fiches article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100px;
}
.fiches article p {
  font-size: 12px;
	margin-top: 4px;
	margin-bottom: 8px;
}
.fiches article h2 {
	text-align: center;
}
